<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="oDataHost" value="https://priority.ntsa.uk" />
    <add key="tabulaini" value="tabula.ini" />
    <add key="ouser" value="apiuser" />
    <add key="opass" value="123456" />
  </appSettings>
  <connectionStrings>
    <add connectionString="Server=10.10.10.101\PRI,1433;Trusted_Connection=Yes;MultipleActiveResultSets=true;" name="priority" />

  </connectionStrings>
  <system.webServer>
    <handlers>
      <add name="Python" path="*.py" verb="*" modules="CgiModule" scriptProcessor="&quot;c:\Program Files\Python39\python.exe&quot; %s %s" resourceType="File" requireAccess="Script" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="default.py" />
      </files>      
    </defaultDocument>
    <rewrite>
      <rules>    
        <rule name="API Rewrite endpoint">
          <match url="^([0-9a-z_-]+).([a-z]+)$" />
          <action type="Rewrite" url="default.py?endpoint={R:1}.{R:2}" />
        </rule>   
        <rule name="API Rewrite env and endpoint">
          <match url="^([0-9a-z_-]+)/(.*$)" />
          <action type="Rewrite" url="default.py?environment={R:1}&amp;endpoint={R:2}" />
        </rule>         
      </rules>
    </rewrite>
  </system.webServer>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.1" />
      </system.Web>
  -->
  <system.web>    
    <compilation debug="true" targetFramework="4.6.1" />

  </system.web>
</configuration>
